body
{
    background-size: cover;
}
.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}
.heading_div
{
    float: none;
    background: white !important;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px grey;
}
.heading_div2
{
    font-size: 18px;
}
.result_para_tag
{
    box-shadow: 5px 5px 5px grey;
    font-size: 20px;
}
canvas
{
    border: 5px solid yellow;
    border-radius: 20px;
    box-shadow: 5px 5px 5px red;
    margin-top: 150px;
}
.copy_right_footer
{
    position: fixed;
    font-size: 18px;
    color: blue;
    bottom: 0;
    width: 100%;
    background-color: lightblue;
    line-height: 3;
    text-align: center;
}